.card{
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
    width: min(100% - 30%, 700px );
    border-radius: 25px;
    padding: 2rem;
    gap: 2rem;
}

.card img{
    width: max(48px);
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.card-body h2{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
}

.card-body p{
    font-size: 1.3rem;
}