/* contenedor principal */

.beneficios{
    width: 100%;
    min-height: 80svh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 3rem 0;
}

/* contenedor de tarjetas blancas */

.beneficios .container_w-card{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

/* tarjetas blancas */

.w-card .card-body{
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1rem;
    margin: 1.45rem;
}

.w-card{
    background: var(--color-pink-alt);
    width: 90%;
    border-radius: 30px 30px 0 0;
}

.w-card h3 {
    font-family: var(--font-title);
    font-size: clamp(2.2rem, -0.5rem + 3vw, 2.5rem);
    font-weight: 500;
    color: var(--color-pink);
    margin: 0.5rem 0rem;
}

.w-card p{
    font-family: var(--font-text);
    font-size: clamp(1.1rem, 0.2rem + 1vw, 1.2rem);
    color: var(--color-text);
    font-weight: 500;
    max-width: 90%;
}

.w-card:last-child{
    border-radius: 0 0 30px 30px;
}

/* contenedor de iconos */

.beneficios .plataformas{
    width: 90%;
    background: var(--color-pink-alt);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}

/* iconos de plataformas */

.beneficios .plataformas img{
    width: 35px;
}

/* contenedor de tarjetas rosas */

.beneficios .container_p-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

/* tarjetas rosas */

.p-card{
    background: var(--color-pink-alt);
    width: 85%;
    border-radius: 30px;
    margin: 0;
    padding: 3rem 1rem;
}

.p-card h4{
    font-family: var(--font-text);
    color: var(--color-pink);
    font-size: clamp(1.3rem, -2.3rem + 4vw, 1.7rem);
    font-weight: 500;
    text-align: right;
    margin: 0.4rem 3rem;
    padding-bottom: 1rem;
    border-bottom: #fff solid 3px;
}

.p-card h3{
    font-family: var(--font-title);
    font-size: clamp(2.2rem, -0.5rem + 3vw, 2.5rem);
    font-weight: 500;
    color: var(--color-pink);
    margin: 1rem 3rem;
}

.p-card p{
    font-family: var(--font-text);
    font-size: clamp(1.3rem, -0.5rem + 2vw, 1.5rem);
    color: var(--color-text);
    font-weight: 500;
    line-height: 30px;
    max-width: 570px;
    margin: 0.5rem 3rem;
}


/* codigo adaptable para dispositivos mobiles */


@media screen and (min-width: 1129px) and (max-width: 1439px){
    .beneficios h3{
        font-size: clamp(2rem, 1.4841rem + 0.796vw, 2.2rem);
    }

    .w-card p{
        font-size: clamp(0.9rem, 0.3841rem + 0.796vw, 1.1rem);
    }

    .p-card{
        max-width: 95%;
    }

    .p-card p{
        font-size: clamp(1.1rem, 0.5841rem + 0.796vw, 1.3rem);
    }
}


@media screen and (max-width: 1129px){

    .beneficios{
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        margin: 3rem 0;
    }
    
    .beneficios .container_w-card{
        align-items: center;
        width: 85%;
        margin: 0.7rem;
    }

    .beneficios .container_p-card{
        align-items: center;
        width: 90%;
        margin: 0.7rem;
    }
    
    .beneficios .plataformas{
        width: 95%;
    }

    .p-card h4, .p-card h3, .p-card p{
        margin: 1rem;
    }
    
    .w-card, .p-card p{
        width: 95%;
    }
}


@media screen and (max-width: 768px){

    .beneficios{
        padding: 1rem 0;
    }

    .beneficios .container_w-card, .beneficios .container_p-card{
        width: 100%;
    }

    .w-card{
        width: 95%;
        margin: 1rem;
        border-radius: 20px;
        background: #fff;
        border: 2px solid var(--color-pink);
    }

    .w-card:last-child{
        border-radius: 20px;
    }

    .w-card .card-body{
        padding: 1.5rem;
        margin: 0;
        border-radius: 20px;
    }

    .beneficios .w-card h3{
        font-size: 1.5rem;
        margin: 0;
    }
    .beneficios .w-card p{
        font-size: 1.1rem;
        line-height: 23px;
        width: 100%;
        text-align: center;
    }

    .beneficios .plataformas{
        width: 95%;
        background: transparent;
    }

    .beneficios .plataformas img{
        width: 25px;
    }

    .p-card {
        width: 90%;
        border-radius: 20px;
    }

    .p-card h3{
        font-size: 1.5rem;
        margin: 0 0.5rem;
    }

    .p-card p{
        font-size: 1.2rem;
        margin: 0.5rem;
    }

}

@media screen and (max-width: 580px){
    .w-card .card-body{
        padding: 0.8rem 0;
    }

    .w-card p{
        max-width: 98%;
    }

    .p-card{
        width: 88%;
    }
}

@media screen and (max-width: 480px){
    .p-card{
        width: 88%;
    }
}