body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--color-bg);
}


/* BOTONES */

.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 600;
  background: var(--color-pink);
  padding: 0.9rem 1.3rem;
  border-radius: 50px;
  text-align: center;
  border: var(--color-pink) solid 2px;
}

.btn:hover{
  transition: all  .2s ease-in-out;
  background: var(--color-text);
  border-color: var(--color-text);
}
